<div class="footer-tjd">
  <div class="footer-copyright">
    <%= t(:pied) %>
    <%= link_to t(:mentionslegales_link), mentionslegales_path, class:"mentions_link" %>
  </div>
  <div class="footer-links">
    <a href="<%= INFOS[:insta] %>" target="blank"><i class="fab fa-instagram"></i> <span class="sr-only">link to instagram</span> </a>
  </div>
</div>
