/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  padding-top: 75px;
  text-align:center;
  margin-bottom:0px;
}
.text-bot {
  vertical-align:bottom;
}
// .alert-info {
//   background: $green;
// }
// .alert-warning {
//   background: $red;
// }
