.dropdown-menu:hover {
  display: block;
}

.navbar-nav {
  align-items: center;
  @media (max-width: 767px) {
    align-items:flex-end;
  }
}

.navbar-tjd {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-color: $principal;
  transition: all 0.3s ease;
  height: 70px;
  position: fixed;
  z-index:3;
  width:100%;
  opacity:0.85;
  .navbar-brand {
    padding:0;
    height:90%;
    img {
      height: 100%;
    }      
  }

  .navbar-collapse {
    background-color: $principal;
  }

  .dropdown-menu {
    background-color: $principal; 
  }

  .collapse {
    flex-grow:0;
    padding-right: 0;
  }

  .nav-link {
    font-family: $headers-font;
    color: $blanche;
    white-space: nowrap;
    font-size: 0.7rem;
    transition: all 0.3s ease;
    // @media (min-width: 767px) and (max-width: 850px) {
    //   padding: 0 0.3rem !important;
    // }
    @media (max-width: 767px) {
      text-align: end;
      padding: 5px 20px;
    }         
  }
  .nav-link:hover {
    color: $secondaire;
  }

  .dropdown-item:hover {
    background-color:transparent;
  }

  .dropdown-menu {
    margin-top: 0;
  }

  .dropdown-toggle::after {
    transition: transform 0.15s linear; 
  }
   
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }  

  .navbar-toggler-icon {
    font-size: 25px;
    color:white;
  }

  .navbar-toggler {
    line-height: unset; 
  }
}

.navbar {
  height: 70px;
}


@media (min-width: 992px) {
  .nav-link {
    margin-left: 20px;
  }
  .navbar-tjd {
    padding: 0px 30px;
  }
}

@media (max-width: 765px) {
  .dropdown-menu {
    opacity:0.60;
    text-align:end;
  }
  .navbar-collapse {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
}

.navbar-tjd:hover {
  opacity:1;
}

.navbar-tjd:before, .navbar-tjd:after {
  content:none;
}